<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h3>Name: Suraj Shetiya</h3><br/>
        <h3>ID: 1001236144</h3><br/>
        <hr/>
        <button class="btn btn-primary" onclick="query('simple')">Simple query</button>
        <button class="btn btn-primary" onclick="query('range')">Range query</button>
        <button class="btn btn-primary" onclick="query('rsimple')">Simple Redis query</button>
        <button class="btn btn-primary" onclick="query('rrange')">Range Redis query</button>
        <table id="runtime" class="table">
        </table>
        <table id="detailstable" class="table">
        </table>
        <p id="time"></p>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <script>
    var queryType = {range: '/runrange', simple: '/runsingle', rrange: '/runrangeredis', rsimple: '/runsingleredis'}, id = -1, runs = 1000;
    function query(type) {
      document.getElementById("time").innerHTML = "";
      $.ajax({
        url: queryType[type],
        type: 'POST',
        success: function(data){
          console.log('My data' + JSON.stringify(data));
          id = data.id;
          update(id);
        },
        error: function(err) {
          console.log('Error occured ' + err);
        }
      });
    }

    function makeTable(data, tableName) {
      var tbl = document.getElementById(tableName);
      tbl.innerHTML = '';
      if(data.length == 0) {
        return ;
      }
      var keysobj = Object.keys(data[0]);
      var trhead = document.createElement("tr");
      for(var k=0;k<keysobj.length; k++) {
        th = document.createElement("th");
        th.innerHTML = keysobj[k];
        trhead.appendChild(th);
      }
      tbl.append(trhead);
      for(let index=0; index < data.length; index++) {
        var tr = document.createElement("tr");
        for(var k=0;k<keysobj.length; k++) {
          var td = document.createElement("td");
          td.innerHTML = data[index][keysobj[k]];
          tr.append(td);
        }
        tbl.append(tr);
      }
    }

    function updateTable(data) {
      var tbl = document.getElementById("runtime");
      tbl.innerHTML = '';
      var trhead = document.createElement("tr");
      var th = document.createElement("th");
      th.innerHTML = "No";
      trhead.appendChild(th);
      th = document.createElement("th");
      th.innerHTML = "Time taken";
      trhead.appendChild(th);
      tbl.appendChild(trhead);
      for(let index=0; index < data.length; index++) {
        let d = data[index]
        // iteration, timetaken
        var tr = document.createElement("tr");
        var td = document.createElement("td");
        tr.appendChild(td);
        td.innerHTML = d.iteration;
        td = document.createElement("td");
        tr.appendChild(td);
        td.innerHTML = d.timetaken;
        tbl.appendChild(tr);
      }
    }

    function getData() {
      $.ajax({
        url: '/getRangeQuery',
        type: 'POST',
        success: function(data){
          makeTable(data, "detailstable");
        },
        error: function(err) {
          console.log('Error occured ' + err);
        }
      });
    }

    function update(id) {
      $.ajax({
        url: '/querydetails',
        type: 'POST',
        data: JSON.stringify([id]),
        contentType : 'application/json',
        success: function(data){
          updateTable(data.result);
        },
        error: function(err) {
          console.log('Error occured ' + err);
        }
      });

      $.ajax({
        url: '/querystatus',
        type: 'POST',
        data: JSON.stringify([id]),
        contentType : 'application/json',
        success: function(data){
          console.log('My data' + JSON.stringify(data));
          if(data.result[0].stat == true) {
            $.ajax({
              url: '/querydetails',
              type: 'POST',
              data: JSON.stringify([id]),
              contentType : 'application/json',
              success: function(data){
                if(data.result.length == runs) {
                  var avge = data.result.map(x => parseInt(x.timetaken)).reduce((a,b) => a+b)/data.result.length;
                  document.getElementById("time").innerHTML = "Average Time " + avge;
                } else {
                  update(id);
                }
              },
              error: function(err) {
                console.log('Error occured ' + err);
              }
            });
          } else {
            setTimeout(update, 500, id);
          }
        },
        error: function(err) {
          console.log('Error occured ' + err);
        }
      });
    }
  </script>
</body>
</html>
