<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h3>Name: Suraj Shetiya</h3><br/>
        <h3>ID: 1001236144</h3><br/>
        <hr/>
        <input id="course"/>
        <p id="cen"></p>
        <button class="btn btn-primary" onclick="getCourseDetails()">Get Chart</button>
        <svg width="960" height="500"></svg>
        <table id="detailstable" class="table">
        </table>
        <p id="time"></p>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <script>
    var queryType = {range: '/runrange', simple: '/runsingle', rrange: '/runrangeredis', rsimple: '/runsingleredis'}, id = -1, runs = 1000;
    function query(type) {
      document.getElementById("time").innerHTML = "";
      $.ajax({
        url: queryType[type],
        type: 'POST',
        success: function(data){
          console.log('My data' + JSON.stringify(data));
          id = data.id;
          update(id);
        },
        error: function(err) {
          console.log('Error occured ' + err);
        }
      });
    }

    function loadbarchart() {
       NAMES = ['TEXAS', 'MASSACHUSETTS', 'WEST VIRGINIA', 'NEW HAMPSHIRE'];
       $.ajax({
         url: '/getStateVoters',
         type: 'POST',
         success: function(data){
           console.log(data);
           //drawScatterPlotLine(data.filter(item => NAMES.includes(item.STATE)), 'TotalCitizenPopulation', 'PercentVotedCitizen');
           //drawScatterPlot(data.filter(item => NAMES.includes(item.STATE)), 'TotalCitizenPopulation', 'PercentVotedCitizen', 'STATE');
           //drawPieChart(data.filter(item => NAMES.includes(item.STATE)), 'TotalCitizenPopulation', 'STATE');
           drawBarChart(data.filter(item => NAMES.includes(item.STATE)), 'TotalCitizenPopulation', 'STATE');
         }
       });
     }

    function loadbarchart1() {
        $.ajax({
         url: '/getcourses',
         type: 'POST',
         success: function(data){
           console.log(data);
           var values = { '1':0, '2' : 0, '3' : 0, '4' : 0, '5' : 0, '6': 0, '7' : 0}, arr = [];
           for(var index=0; index < data.length;index++) {
             values[String(parseInt(data[index].CourseNumber/1000))] = values[String(parseInt(data[index].CourseNumber/1000))] + 1;
             console.log(String(parseInt(data[index].CourseNumber/1000)));
           }
           for(var i = 1; i < 8;i++) {
             arr.push({'value' : String(i) + 'k', 'count' : values[String(i)]});
           }
           //drawScatterPlotLine(data.filter(item => NAMES.includes(item.StateName)), 'TotalPop', 'VotePop');
           //drawScatterPlot(data.filter(item => NAMES.includes(item.StateName)), 'TotalPop', 'VotePop', 'StateName');
           //drawPieChart(data.filter(item => NAMES.includes(item.StateName)), 'TotalPop', 'StateName');
           //console.log(data.filter(item => NAMES.includes(item.StateName)));
           drawBarChart(arr, 'count', 'value');
         }
       });
     }

  function kmeans() {
    var K = parseInt(document.getElementById('K').value);
    $.ajax({
         url: '/kmeans',
         type: 'POST',
         data: JSON.stringify([K]),
        contentType : 'application/json',
         success: function(data){
           console.log(data);
           data = data.result;
           var data1 = [], ccount = 0;
           for(var index = 0; index < data.length; index++) {
             //data1.push({'No' : String(index), 'Size': data[index].clusterInd.length});
             for(var i=0; i < data[index].cluster.length; i++ ) {
               data1.push({'CourseNumber': data[index].cluster[i][0], 'MaxEnroll': data[index].cluster[i][1], 'Cluster': ccount});
             //document.getElementById('cen').innerHTML = document.getElementById('cen').innerHTML + 'Cen' + data[index].centroid;
             }
             ccount++;
           }
           //drawBarChart(data1, 'Size', 'No');
           //drawScatterPlotLine(data.filter(item => NAMES.includes(item.StateName)), 'TotalPop', 'VotePop');
           drawScatterPlot(data1, 'CourseNumber', 'MaxEnroll', 'Cluster');
           //drawScatterPlot(data.filter(item => NAMES.includes(item.StateName)), 'TotalPop', 'VotePop', 'StateName');
           //drawPieChart(data.filter(item => NAMES.includes(item.StateName)), 'TotalPop', 'StateName');
          // console.log(data.filter(item => NAMES.includes(item.StateName)));
           //drawBarChart(data.filter(item => NAMES.includes(item.StateName)), 'TotalPop', 'StateName');
         }
       });
  }

  function getCourseDetails() {
    var courseNo = parseInt(document.getElementById('course').value);
    $.ajax({
         url: '/getCourses',
         type: 'POST',
        data: JSON.stringify([courseNo]),
        contentType : 'application/json',
       success: function(data){
          console.log(data);
          makeTable(data, 'detailstable');
         }
       });


  }

    function loadbarchart2() {
       NAMES = ['TEXAS', 'MASSACHUSETTS', 'WEST VIRGINIA', 'NEW HAMPSHIRE'];
       $.ajax({
         url: '/getStateVotersCleaned',
         type: 'POST',
         success: function(data){
           console.log(data);
           
           drawScatterPlotLine(data.filter(item => NAMES.includes(item.StateName)), 'TotalPop', 'VotePop');
           //drawScatterPlot(data.filter(item => NAMES.includes(item.StateName)), 'TotalPop', 'VotePop', 'StateName');
           //drawPieChart(data.filter(item => NAMES.includes(item.StateName)), 'TotalPop', 'StateName');
           console.log(data.filter(item => NAMES.includes(item.StateName)));
           //drawBarChart(data.filter(item => NAMES.includes(item.StateName)), 'TotalPop', 'StateName');
         }
       });
     }

function drawPieChart(data, valueCol, textCol) {
  var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height"),
    radius = Math.min(width, height) / 2,
    g = svg.append("g").attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

  var color = d3.scaleOrdinal(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

  var pie = d3.pie()
    .sort(null)
    .value(function(d) { return d[valueCol]; });

  var path = d3.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

  var label = d3.arc()
    .outerRadius(radius - 40)
    .innerRadius(radius - 40);

  console.log(pie(data));

  var arc = g.selectAll(".arc")
    .data(pie(data))
    .enter().append("g")
      .attr("class", "arc");

  arc.append("path")
    .attr("d", path)
    .attr("fill", function(d) { return color(d.data[textCol]); });

  arc.append("text")
    .attr("transform", function(d) { return "translate(" + label.centroid(d) + ")"; })
    .attr("dy", "0.35em")
    .text(function(d) { return d.data[textCol] + '(' + String(d.data[valueCol]) + ')'; });
}

function drawBarChart(data, valColumn, textColumn) {
  var svg = d3.select("svg"),
    margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom;

  var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
    y = d3.scaleLinear().rangeRound([height, 0]);

  var g = svg.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  x.domain(data.map(function(d) { return d[textColumn]; }));
  y.domain([0, d3.max(data, function(d) { return d[valColumn]; })]);

  g.append("g")
    .attr("class", "axis axis--x")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x));

  g.append("g")
    .attr("class", "axis axis--y")
    .call(d3.axisLeft(y))
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .attr("text-anchor", "end")
      .text("Frequency");

  g.selectAll(".bar")
    .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d[textColumn]); })
      .attr("y", function(d) { return y(d[valColumn]); })
      .attr("width", x.bandwidth())
      .attr("height", function(d) { return height - y(d[valColumn]); })
      .attr('fill', 'steelblue');
}

function drawScatterPlot(data, valColumn, textColumn, colorColumn) { 
  deleteElems("svg");
  var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

  var x = d3.scaleLinear()
    .range([0, width]);

  var y = d3.scaleLinear()
    .range([height, 0]);

  var color = d3.scaleOrdinal(d3.schemeCategory20);

  var xAxis = d3.axisBottom(x);

  var yAxis = d3.axisLeft(y);

  var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


  x.domain(d3.extent(data, function(d) { return d[textColumn]; })).nice();
  y.domain(d3.extent(data, function(d) { return d[valColumn]; })).nice();

  svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis)
    .append("text")
      .attr("class", "label")
      .attr("x", width)
      .attr("y", -6)
      .style("text-anchor", "end")
      .text("Sepal Width (cm)");

  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)
    .append("text")
      .attr("class", "label")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Sepal Length (cm)")

  svg.selectAll(".dot")
    .data(data)
    .enter().append("circle")
      .attr("class", "dot")
      .attr("r", 3.5)
      .attr("cx", function(d) { return x(d[textColumn]); })
      .attr("cy", function(d) { return y(d[valColumn]); })
      .style("fill", function(d) { return color(d[colorColumn]); });

  var legend = svg.selectAll(".legend")
    .data(color.domain())
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  legend.append("rect")
    .attr("x", width - 18)
    .attr("width", 18)
    .attr("height", 18)
    .style("fill", color);

  legend.append("text")
    .attr("x", width - 24)
    .attr("y", 9)
    .attr("dy", ".35em")
    .style("text-anchor", "end")
    .text(function(d) { return d; });
}

function deleteElems(typename) {
  var element = document.getElementsByTagName(typename), index;

  for (index = element.length - 1; index >= 0; index--) {
    element[index].parentNode.removeChild(element[index]);
  }
}

function drawScatterPlotLine(data, valColumn, textColumn) {
  // set the dimensions and margins of the graph
  var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

  // set the ranges
  var x = d3.scaleLinear().range([0, width]);
  var y = d3.scaleLinear().range([height, 0]);

  // define the line
  var valueline = d3.line()
    .x(function(d) { return x(d[textColumn]); })
    .y(function(d) { return y(d[valColumn]); });

  // append the svg obgect to the body of the page
  // appends a 'group' element to 'svg'
  // moves the 'group' element to the top left margin
  deleteElems("svg");
  var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

  // Scale the range of the data
  x.domain([0, d3.max(data, function(d) { return d[textColumn]; })]);
  y.domain([0, d3.max(data, function(d) { return d[valColumn] })]);

  // Add the valueline path.
  svg.append("path")
  .data([data])
  .attr("class", "line")
  .attr("d", valueline)
  .attr("fill", "none")
  .attr("stroke", "steelblue")
  .attr("stroke-width" , "2px");
    
  // Add the scatterplot
  svg.selectAll("dot")
    .data(data)
    .enter().append("circle")
      .attr("r", 5)
      .attr("cx", function(d) { return x(d[textColumn]); })
      .attr("cy", function(d) { return y(d[valColumn]); });

  // Add the X Axis
  svg.append("g")
  .attr("transform", "translate(0," + height + ")")
  .call(d3.axisBottom(x));

  // Add the Y Axis
  svg.append("g")
    .call(d3.axisLeft(y));
}



    function makeTable(data, tableName) {
      var tbl = document.getElementById(tableName);
      tbl.innerHTML = '';
      if(data.length == 0) {
        return ;
      }
      var keysobj = Object.keys(data[0]);
      var trhead = document.createElement("tr");
      for(var k=0;k<keysobj.length; k++) {
        th = document.createElement("th");
        th.innerHTML = keysobj[k];
        trhead.appendChild(th);
      }
      tbl.append(trhead);
      for(let index=0; index < data.length; index++) {
        var tr = document.createElement("tr");
        for(var k=0;k<keysobj.length; k++) {
          var td = document.createElement("td");
          td.innerHTML = data[index][keysobj[k]];
          tr.append(td);
        }
        tbl.append(tr);
      }
    }

    function updateTable(data) {
      var tbl = document.getElementById("runtime");
      tbl.innerHTML = '';
      var trhead = document.createElement("tr");
      var th = document.createElement("th");
      th.innerHTML = "No";
      trhead.appendChild(th);
      th = document.createElement("th");
      th.innerHTML = "Time taken";
      trhead.appendChild(th);
      tbl.appendChild(trhead);
      for(let index=0; index < data.length; index++) {
        let d = data[index]
        // iteration, timetaken
        var tr = document.createElement("tr");
        var td = document.createElement("td");
        tr.appendChild(td);
        td.innerHTML = d.iteration;
        td = document.createElement("td");
        tr.appendChild(td);
        td.innerHTML = d.timetaken;
        tbl.appendChild(tr);
      }
    }

    function getData() {
      var start = document.getElementById('start').value;
      var end = document.getElementById('end').value;
      var zstart = document.getElementById('zstart').value;
      var zend = document.getElementById('zend').value;

      var sendVal = {range: [start, end], zip: [zstart, zend]};
      $.ajax({
        url: '/getNames',
        type: 'POST',
        data: JSON.stringify(sendVal),
        contentType : 'application/json',
        success: function(data){
          makeTable(data.results, "detailstable");
          document.getElementById('time').innerHTML = data.time;
        },
        error: function(err) {
          console.log('Error occured ' + err);
        }
      });
    }

    function update(id) {
      $.ajax({
        url: '/querydetails',
        type: 'POST',
        data: JSON.stringify([id]),
        contentType : 'application/json',
        success: function(data){
          updateTable(data.result);
        },
        error: function(err) {
          console.log('Error occured ' + err);
        }
      });

      $.ajax({
        url: '/querystatus',
        type: 'POST',
        data: JSON.stringify([id]),
        contentType : 'application/json',
        success: function(data){
          console.log('My data' + JSON.stringify(data));
          if(data.result[0].stat == true) {
            $.ajax({
              url: '/querydetails',
              type: 'POST',
              data: JSON.stringify([id]),
              contentType : 'application/json',
              success: function(data){
                if(data.result.length == runs) {
                  var avge = data.result.map(x => parseInt(x.timetaken)).reduce((a,b) => a+b)/data.result.length;
                  document.getElementById("time").innerHTML = "Average Time " + avge;
                } else {
                  update(id);
                }
              },
              error: function(err) {
                console.log('Error occured ' + err);
              }
            });
          } else {
            setTimeout(update, 500, id);
          }
        },
        error: function(err) {
          console.log('Error occured ' + err);
        }
      });
    }
  </script>
</body>
</html>
