<!DOCTYPE html>
<meta charset="utf-8">
<style> /* set the CSS */

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

</style>
<body>

<!-- load the d3.js library -->    	
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
var valColumn = 'B', textColumn = 'A';
var data = [{A: 1, B: 2}, {A: 2, B:4}, {A: 5, B: 7}, {A: 8, B: 9}, {A: 10, B:7}];

function drawScatterPlotLine(data, valColumn, textColumn) {
  // set the dimensions and margins of the graph
  var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

  // set the ranges
  var x = d3.scaleLinear().range([0, width]);
  var y = d3.scaleLinear().range([height, 0]);

  // define the line
  var valueline = d3.line()
    .x(function(d) { return x(d[textColumn]); })
    .y(function(d) { return y(d[valColumn]); });

  // append the svg obgect to the body of the page
  // appends a 'group' element to 'svg'
  // moves the 'group' element to the top left margin
  var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

  // Scale the range of the data
  x.domain([0, d3.max(data, function(d) { return d[textColumn]; })]);
  y.domain([0, d3.max(data, function(d) { return d[valColumn] })]);

  // Add the valueline path.
  svg.append("path")
  .data([data])
  .attr("class", "line")
  .attr("d", valueline);
    
  // Add the scatterplot
  svg.selectAll("dot")
    .data(data)
    .enter().append("circle")
      .attr("r", 5)
      .attr("cx", function(d) { return x(d[textColumn]); })
      .attr("cy", function(d) { return y(d[valColumn]); });

  // Add the X Axis
  svg.append("g")
  .attr("transform", "translate(0," + height + ")")
  .call(d3.axisBottom(x));

  // Add the Y Axis
  svg.append("g")
    .call(d3.axisLeft(y));
}

drawScatterPlotLine(data, valColumn, textColumn);
</script>
</body>
