<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h3>Name: Suraj Shetiya</h3><br/>
        <h3>ID: 1001236144</h3><br/>
        <hr/>
        <div id="login">
          Login: <input id="name"></input>
          <button class="btn btn-primary" onclick="setname()">Submit</button>
        </div>
        <div id="uploadview" style="display:none">
          <h3>Welcome <span id="valname"></span></h3><br/><hr/>
          <h3>Upload</h3>
          Title: <input id="imgtitle"></input>
          <input id="upload-input" type="file" name="upload">
          <br/><hr/>
          <h3>View</h3>
          <button class="btn btn-primary" onclick="refresh()">Refresh</button>
          <table id="photos">
            <tr>
              <th>Photo</th>
              <th>Details</th>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <script>
    var name='', appname = '', threshold = 1024; // 1024 KB = 1MB
    function setname() {
      var nameval = document.getElementById('name').value;
      if(nameval.length == 0) {
        alert('Please enter a valid name');
      } else {
        name = nameval;
        document.getElementById('valname').innerHTML = name;
        $('#login').toggle();
        $('#uploadview').toggle();
      }
    }

    $('#upload-input').on('change', function() {
      var files = $(this).get(0).files;
      if($('#imgtitle')[0].value.length == 0) {
        alert('Please eneter a title');
        $('#upload-input')[0].value = '';
        return;
      }
      if (files.length == 1){
        console.log('File size is ' + files[0].size);
        if(files[0].size > threshold * 1024) {
          $('#upload-input')[0].value = '';
          alert('File size is restricted to 1 MB');
          return;
        }
        var formData = new FormData();
        // loop through all the selected files
        formData.append('title', $('#imgtitle')[0].value);
        formData.append('author', name);
        
        var file = files[0];
        // add the files to formData object for the data payload
        formData.append('upload', file, file.name);
        $.ajax({
          url: appname + '/upload',
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function(data){
            console.log('upload successful!');
          },
          error: function(err) {
            console.log('Error occured ' + err);
          }
        });
      }
    });

    function updateTable(data) {
      var count = 0;
      $('#photos').html('');
      var trhead = document.createElement("tr");
      var th = document.createElement("th");
      th.innerHTML = "Photo";
      trhead.appendChild(th);
      th = document.createElement("th");
      th.innerHTML = "Details";
      trhead.appendChild(th);
      $('#photos').append(trhead);
      for (d of data) {
        count++;
        var tr = document.createElement("tr");
        var td = document.createElement("td");
        var img = document.createElement("img");
        img.setAttribute('src', d.url);
        img.style.maxHeight= '350px';
        td.appendChild(img);
        tr.appendChild(td);
        var td1 =document.createElement("td");
        var prop;
        var order = {
          'title': 'Title',
          'upload_date' : 'Date',
          'likes': 'Likes',
          'username': 'Name'
        };
        for(prop in order) {
          var pElem = document.createElement("p");
          if(prop == 'likes') {
            var inner = order[prop] + ': ';
            if(d['liked_people'] == 0)
              inner = inner + 'No likes yet';
            else
              inner = inner + (d.likes/d.liked_people).toFixed(2);
            pElem.innerHTML = inner;
            pElem.setAttribute('id', 'p'+count);
            pElem.setAttribute('data-title', d.title);
            pElem.setAttribute('data-name', d.username);
            // Add modify code
            var selelem = document.createElement("select");
            selelem.setAttribute("id", "sel"+count);
            selelem.setAttribute("onchange", "ratephoto(" + count + ")");
            var optionelem = document.createElement("option");
            optionelem.innerHTML = "Select";
            selelem.appendChild(optionelem);
            for(var value=1;value<6;value++) {
              optionelem = document.createElement("option");
              optionelem.setAttribute("value", value);
              optionelem.innerHTML = value;
              selelem.appendChild(optionelem);
            }
            var plocal = document.createElement("p");
            plocal.innerHTML = "Rate the photo";
            plocal.appendChild(selelem);
            td1.appendChild(plocal);
          } else if(prop == 'upload_date') {
            var curdate = new Date(d[prop]);
            pElem.innerHTML = order[prop] + ': ' + curdate.toString();
          } else {
            pElem.innerHTML = order[prop] + ': ' + d[prop];
          }
          td1.appendChild(pElem);
        }
        tr.appendChild(td1);
        $('#photos').append(tr);
      }
    }

    function refresh() {
      $.ajax({
        url: appname + '/list',
        type: 'POST',
        data: JSON.stringify([name]),
        contentType : 'application/json',
        success: function(data){
          console.log('My data' + JSON.stringify(data));
          updateTable(data);
        },
        error: function(err) {
          console.log('Error occured ' + err);
        }
      });
    }

    function ratephoto(myid) {
      var pelem = document.getElementById('p'+ myid);
      var title = pelem.getAttribute('data-title');
      var usrnm = pelem.getAttribute('data-name'), rating = $('#sel'+myid).val();
      $.ajax({
        url: appname + '/likes',
        type: 'POST',
        data: JSON.stringify({
          'name': usrnm, 'title': title, 'likes': parseInt(rating)}),
        contentType : 'application/json',
        success: function(data){
          console.log('My data' + JSON.stringify(data));
          pelem.innerHTML = 'Likes' + (data[0]/data[1]).toFixed(2);
          $('#sel'+myid).toggle();
        },
        error: function(err) {
          console.log('Error occured ' + err);
        }
      });

    }
  </script>
</body>
</html>
